{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}


{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published{{ post.publish }} by {{ post.author }}
    </p>
    <hr>
    {{ post.body | linebreaks }}
    <hr>
    <h2> 相似帖子</h2>
    {% for post in similar_posts %}
    <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
        {% empty %}
        目前还没有类似的帖子
    {% endfor %}

    <hr>
    {% with  comments.count as total_comments %}
        {% if comments.count > 0 %}
            <h2>
                有{{ total_comments }}条评论
            </h2>
        {% else %}
        {% endif %}
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                '{{ comment.body|safe }}' by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comments.body|linebreaks }}
        </div>
    {% empty %}
        <p>暂无评论.....</p>
    {% endfor %}
    {% if new_comment %}
        <h2> 你的评论以添加 </h2>
    {% else %}
        <h2> 添加新的评论</h2>
        <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="添加"></p>
        </form>
    {% endif %}

    <p><a href="{% url 'blog:post_share' post.id %}"> ----分享这个帖子---- </a></p>
{% endblock %}
